<html>
<head>
    <title></title>
</head>
<body>
<h1>Original Component</h1>
<img src="images/GetImageOwnComponent.png"/>
<h1>Third-party Component</h1>
    <img src="images/GetImageThirdPartyComponent.png"/>
</body>
</html>
