<html>
<head>
    <title>Search Books</title>
</head>
<body>
<h1>Search Books</h1>
<form asp-controller="Home" asp-action="Search" method="post">
    <strong>Enter Book ISBN :</strong>
    <br/><br/>
    <input type="text" name="isbn"/>
    <input type="submit" value="Search"/>
</form>
</body>
</html>
